* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 30px 50px;
}

header > button, p {
    background-color: white;
    font-weight: bold;
    font-size: 16px;
}

button {
    border: none;
    background-color: #835dc0;
    padding: 10px 20px;
    border-radius: 12px;
    box-shadow: 1px 2px 8px #382458;
    color: #eaeee2;
    font-weight: bold;
}

button:hover {
    cursor: pointer;
    color:#b7fff5;
    background-color: #2e3c64;
    transition: 0.25s;
}

#high-scores-button {
    border: none;
    box-shadow: none;
    color: #5d7cc0;
}

#high-scores-button:hover {
    color: #5dc0b3;
    transition: 0.3s;
    cursor: pointer;
}

/*Start page styling*/
section {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 300px;
}

#intro-section h1 {
    font-weight: bold;
    font-size: 36px;
}

#intro-section p {
    width: 60%;
}

/*Quiz section styling*/

#quiz-section h2 {
    width: 100%;
    padding: 0 30px;
    align-self: center;
}

#end-section {
    justify-content: center;
}

#end-section h2 {
    margin-bottom: 15px;
}

#end-section div, form, p {
    margin: 10px 0;
}

#end-section p {
    font-size: 20px;
}

#end-section form {
    display: flex;
    flex-direction: column;
    width: 70%;
}

#end-section div {
    display: flex;
    justify-content: space-between;
}

#end-section label {
    font-weight: bold;
}

#end-section input {
    height: 24px;
    border-radius: 5px;
    border: 2px solid #6bc1cc;
    background-color: #f9f6fc;
}


.answer-list {
    width: 40%;
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: flex-start;
    margin-left: 50px;
    justify-content: space-evenly;
}

.answer {
    background-color: #835dc0;
    color: #eff8ff;
    padding: 10px 20px;
    width: 80%;
    border-radius: 5px;
    box-shadow: 1px 2px 8px #382458;
    list-style: none;
}

.answer:hover {
    cursor: pointer;
    color:#b7fff5;
    background-color: #2e3c64;
    transition: 0.25s;
}

.message {
    width: 30%;
    color: #c1cdd3;
    text-align: center;
    margin: 6% auto;
    font-size: 24px;
    border-bottom: 3px #c1cdd3 solid;
}
